.app-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0A276C;
  color: #fff;
}

.event-class-title {
  font-size: 18px;
  margin: 0;
  padding: 16px;
}

.btn {
  width: 175px;
  color: #fff;
}
