.market-accordion.js-open .market-accordion__header {
    background-color: #153f8e;
    color: #fff;
}

.market-accordion.js-open .market-accordion__header svg {
    fill: #fff;
    transform: rotate(180deg)
}

.market-accordion.js-open .market-accordion__content {
    max-height: 5000px;
}

.market-accordion__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: none;
    padding: 16px;
    background-color: #DFE8F3;
    color: #333;
    font-size: 16px;
    border-bottom: 1px solid #D3DBE5;
}

.market-accordion__header svg  {
    fill: #8F9DB4;
}

.market-accordion__content {
    max-height: 0;
    overflow: hidden;
}

.market__outcomes {
    display: flex;
    flex-wrap: wrap;
}
